<ion-header-bar class="bar-dark">
  <h1 class="title">发现</h1>
</ion-header-bar>
<ion-content class="bgf8">
	<ion-list class="gp-list">
	  <ion-item class="gp-item item-icon-left item-icon-right" ng-click="">
			<i class="icon ion-ios-flower" style="color: red;"></i>
			<span style="margin-left:32px;">朋友圏</span>
			<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	</ion-list>
	<ion-list class="gp-list">
	  <ion-item class="gp-item item-icon-left item-icon-right" ng-click="">
			<i class="icon ion-qr-scanner" style="color: blue"></i>
			<span style="margin-left:32px;">扫一扫</span>
			<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	</ion-list>
	<ion-list class="gp-list">
	  <ion-item class="gp-item item-icon-left item-icon-right" ng-click="">
			<i class="icon ion-bag" style="color: red"></i>
			<span style="margin-left:32px;">购物</span>
			<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	  <ion-item class="gp-item item-icon-left item-icon-right" ng-click="">
			<i class="icon ion-load-b" style="color: green"></i>
			<span style="margin-left:32px;">游戏</span>
			<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	</ion-list>
</ion-content>