<ion-header-bar class="bar-dark">
	<h1 class="title">我</h1>
	
</ion-header-bar>
<ion-content class="bgf8">
	<ion-list class="gp-list">
		<ion-item class="gp-item item-icon-right" ng-click="">
			<div class="gp-item-left gp-item-left-img">
				<img src="img/me.png" style="background-color: #fff;">
			</div>
			<div class="gp-item-right gp-item-right-img">
				<h2>Ionic</h2>
				<p>Email: iexl31@outlook.com</p>
			</div>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>
	<ion-list class="gp-list">
		<ion-item class="gp-item item-icon-left item-icon-right" ng-click="">
			<i class="icon ion-image" style="color: blue;"></i>
			<span style="margin-left:32px;">相册</span>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="gp-item item-icon-left item-icon-right" ng-click="">
			<i class="icon ion-cash" style="color: green;"></i>
			<span style="margin-left:32px;">钱包</span>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="gp-item item-icon-left item-icon-right" ng-click="">
			<i class="icon ion-cube" style="color: blue"></i>
			<span style="margin-left:32px;">收藏</span>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>
	<ion-list class="gp-list">
	  <ion-item class="gp-item item-icon-left item-icon-right" ng-click="">
			<i class="icon ion-happy" style="color: orange"></i>
			<span style="margin-left:32px;">表情</span>
			<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	  <ion-item class="gp-item item-icon-left item-icon-right" ng-click="">
			<i class="icon ion-ios-gear" style="color: blue"></i>
			<span style="margin-left:32px;">设置</span>
			<i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	</ion-list>
</ion-content>